<!DOCTYPE HTML>
<html>
  <head>
    <title> reelyActive [project name] </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.1/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/template.js"></script>
  </head>
  <body ng-app="appName">
    <div ng-controller="NameCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://context.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href> Active link </a></li>
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                Dropdown <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href ng-click="takeAction(1)">An action</a></li>
                <li><a href ng-click="takeAction(2)">Another action</a></li>
              </ul>
            </li>
            <li>
              <a href ng-click="state = !state">
                {{state? 'State true' : 'State false'}}
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <tabset class="row">
        <tab heading="HTML">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
            <p> &nbsp; </p>
            <button class="btn btn-success" ng-click="isHtmlCollapsed = !isHtmlCollapsed">The HTML</button>
            <div collapse="isHtmlCollapsed">
              <div class="well well-sm">
                <h3> View <a href="https://github.com/reelyactive/angular-style-guide/blob/gh-pages/index.html">index.html</a> on GitHub </h3>
              </div> 
	    </div>
          </div>
          <div class="col-md-4"></div>
        </tab>
        <tab heading="CSS">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
            <p> &nbsp; </p>
            <button class="btn btn-success" ng-click="isCssCollapsed = !isCssCollapsed">The CSS</button>
            <div collapse="isCssCollapsed">
              <div class="well well-sm">
                <h3> View <a href="https://github.com/reelyactive/angular-style-guide/blob/gh-pages/style/main.css">style/main.css</a> on GitHub </h3>
              </div> 
	    </div>
          </div>
          <div class="col-md-4"></div>
        </tab>
        <tab heading="JS">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
            <p> &nbsp; </p>
            <button class="btn btn-success" ng-click="isJsCollapsed = !isJsCollapsed">The JS</button>
            <div collapse="isJsCollapsed">
              <div class="well well-sm">
                <h3> View <a href="https://github.com/reelyactive/angular-style-guide/blob/gh-pages/js/template.js">js/template.js</a> on GitHub </h3>
              </div> 
	    </div>
          </div>
          <div class="col-md-4"></div>
        </tab>
      </tabset>
      <hr>
      <div class="row">
        <div class="col-md-6 col-xs-12 text-center">
          <h4> <a href="https://angular-ui.github.io/bootstrap/">Angular Bootstrap UI</a> has lovely interactive elements... </h4>
        </div>
        <div class="col-md-6 col-xs-12 text-center">
          <h4> ...and they complement the mobile-first <a href="http://getbootstrap.com/css/">Bootstrap CSS</a> so elegantly. </h4>
        </div>
      </div>
      <div class="row text-center">
        <h1> Read our <a href="https://github.com/reelyactive/angular-style-guide">angular-style-guide</a> on GitHub </h1>
      </div>
      <footer class="footer">
        <a href="https://github.com/reelyactive/projectname"> [project name] </a>
        &nbsp; | &nbsp;
        <a href="http://context.reelyactive.com"
           tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2015
        </a>
      </footer>
    </div>
  </body>
</html>
